.App {
    text-align: center;
}
  
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.HomePageUI {
    padding-top: 3rem;
    /* padding: 3rem 1rem 3rem 1rem; */
    /* display: flex; */
    /* flex-direction: column;
    align-items: flex-start; */
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
}

.SuggestedPageUI {
    padding-top: 3rem;
    font-size: calc(10px + 2vmin);
}

.AllSuggestedDrinks {
    margin: 0.25rem 0.25rem 6rem 0.25rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.SuggestedPageDisplay{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    height: max-content;
}

.SuggestedPageDisplay label{
    font-size: medium;
    word-wrap: normal;
    text-align: center;
}

/* LETTER'S STYLING */
.alphabetContainer {
    margin-top: 7rem;
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: center;
    /* background-color: black; */
}
.buttonStyles{
    padding: 10px;
}
.buttonStyles button{
    font-size: 12px;
    border-radius: 50%;
}

/* ---------------- */
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
      z-index: -1;
    }
}

.SuggestedDrink {
    overflow: auto;
    scroll-behavior: smooth;
    padding: 0 1rem 0 1rem;
}

.Header-SuggestedDrink {
    padding: 0.5rem 0 0 1rem;
}

.SuggestedDrinkDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: fit-content;
}

.SuggestedDrinkDisplay label{
    font-size: medium;
    word-wrap: normal;
    text-align: center;
}
  
.landingUI {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.DrinkDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.DrinkDisplay label{
    padding: 0.5rem;
    font-size: medium;
    word-wrap: normal;
}
  
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}