.App {
    text-align: center;
}
  
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.Drawer-logo-box {
    display: flex;
    justify-content: center;
}

.Drawer-logo {
    height: 25vmin;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.HomePageUI, .SuggestedPageUI, .DrinkDetailUI {
    padding-top: 3rem;
    font-size: calc(10px + 2vmin);
}

.DrinkDetailUI {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 5rem;
}

.DrinkImg {
    width: 100%;
    border-radius: 1rem;
}

.DetailsAboutDrink {
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: space-between;
}

.AllSuggestedDrinks {
    margin: 0.25rem 0.25rem 6rem 0.25rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.SuggestedPageDisplay{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: auto;
}

.SuggestedPageDisplay label{
    font-size: medium;
    word-wrap: normal;
    text-align: center;
}

/* LETTER'S STYLING */
.alphabetContainer {
    margin-top: 12rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.avatarStyles {
    padding: 5px;
}

/* ---------------- */
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
      z-index: -1;
    }
}

.SuggestedDrink {
    overflow: auto;
    scroll-behavior: smooth;
}

.Header-SuggestedDrink {
    padding: 0.5rem 0 0 1rem;
}

.Header-DrinkDetail {
    padding: 0.1rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SuggestedDrinkDisplay {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 150px;
    flex: 1 0 auto;
}

.SuggestedDrinkDisplay label{
    font-size: medium;
    word-wrap: normal;
    text-align: center;
}

.ExploreByHomeSec {
    padding: 0 1rem 0 1rem;
}

.ExploreByDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ExploreByLine {
    display: flex;
    flex-direction: row;
}

.ExploreByButton {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 120px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.ExploreByButton label {
    font-size: medium;
    word-wrap: normal;
    text-align: center;
}
  
.landingUI {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.DrinkDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.DrinkDisplay label{
    padding: 0.5rem;
    font-size: medium;
    word-wrap: normal;
}
  
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}