.App {
    text-align: center;
}
  
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.Drawer-logo-box {
    display: flex;
    justify-content: flex-start;
}

.Drawer-logo {
    height: 6.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.landingUI {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.landingBanner {
    width: 375px;
    margin-bottom: 1rem;
}

.HomePageUI, .SuggestedPageUI, .DrinkDetailUI, .ContactPageUI, .RandomPageUI, .FavoritePageUI {
    padding-top: 3rem;
    font-size: calc(10px + 2vmin);
}

.DrinkDetailUI, .FavoritePageUI {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 5rem;
}

.DrinkImg {
    width: 100%;
    border-radius: 1rem;
}

.DetailsAboutDrink {
    display: flex;
    flex-direction: row;
}

.DetailsAboutDrinkLabel {
    margin-right: 3rem;
}

.AllSuggestedDrinks {
    margin: 0.25rem 0.25rem 6rem 0.25rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.SuggestedPageDisplay{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
}

.SuggestedPageDisplay label{
    width: min-content;
    font-size: medium;
    word-wrap: normal;
    text-align: center;
    max-lines: 3;
}

/* LETTER'S, CATEGORY, GLASS AND TYPE STYLING */
.alphabetContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.caGlTyContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5rem;
}
.avatarStyles {
    padding: 5px;
}

.margin {
    margin-top: 6rem;
    margin-bottom: 2rem;
    text-align: center;
}

/* ---------------- */
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
      z-index: -1;
    }
}

.SuggestedDrink {
    overflow: auto;
    scroll-behavior: smooth;
}

.Header-SuggestedDrink {
    padding: 0.5rem 0 0 1rem;
}

.Header-DrinkDetail {
    padding: 0.1rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SuggestedDrinkDisplay {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 150px;
    flex: 1 0 auto;
}

.SuggestedDrinkDisplay label{
    font-size: medium;
    word-wrap: normal;
    text-align: center;
    max-lines: 3;
}

.ExploreByHomeSec {
    padding: 0 1rem 0 1rem;
}

.ExploreByDisplay {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ExploreByLine {
    display: flex;
    flex-direction: row;
}

.ExploreByButton {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 120px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.ExploreByButton label {
    font-size: medium;
    word-wrap: normal;
    text-align: center;
}
  
.DrinkDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.DrinkDisplay label{
    padding: 0.5rem;
    font-size: medium;
    word-wrap: normal;
    max-lines: 3;
}

.RandomOptions {
    display: flex;
    flex-direction: column;
}

.RandomOptions Button {
    width: 10rem;
    word-wrap: normal;
    margin: 1rem 0 1rem 0;
    padding: 1rem 1rem 1rem 1rem;
    font-weight: bold;
    border-radius: 5rem;
}

.RandomOptions label {
    padding-top: 0.5rem;
}

.FavoriteDrinkDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.FavoriteDrinkDisplayButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #3b8ad9;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.25rem;
    width: 100vh;
}

.FavoriteDrinkDisplay label {
    padding-Left: 1rem;
    font-size: large;
    font-weight: bold;
}
  
.NoResult {
    padding-left: 1.25rem;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}